html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  background-color: #31333c;
  font-family: monospace;
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 10px !important;
  width: 80%;
  display: flex;
  padding: 7px 0;
  margin: auto;
  height: 70px;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;

  p {
    font-size: 1.5rem;
    color: rgb(12, 159, 232);
  }

  div {
    display: flex;
    width: 50%;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: gray;
      line-height: 70px;
      font-weight: bold;
      font-size: 1.2rem;
      transition: all 0.3s;
    }

    a:hover {
      color: rgb(12, 159, 232);
    }
  }

  img {
    width: 4.5%;
  }
}

#section-01 {
  margin-top: 105px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: white;
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;

  div {
    display: flex;
    flex-direction: column;
    width: 60%;

    /* padding: 0px 100px; */
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.4rem;
      color: gray;
    }

    a {
      margin-top: 30px;
      display: inline-block;
      font-size: 1.4rem;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: rgb(81, 155, 230);
      width: 16%;
      color: white;
      text-decoration: none;
      transition: all 0.3s;

      &:hover {
        background-color: white;
        border: 1px solid rgb(81, 155, 230);
        color: rgb(81, 155, 230);
      }
    }
  }

  img {
    width: 32%;
  }
}

#section-02 {
  margin-top: 20px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: rgb(92, 99, 101);
  height: auto;
  display: flex;
  padding: 10px;
}

.item.active .item-bar {
  display: block;
  /* width: 90%; */
  border: 1px solid green;
}

.item-logo {
  font-size: 2rem;
  border: 1px solid black;
  display: inline-block;
  padding: 5px 15px;
  background-color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darkgray;
  }
}

.item-bar {
  margin-top: 10px !important;
  padding: 10px;
  display: none;
  background-color: whitesmoke;
  color: gray;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 1s;
  user-select: none;

  div {
    display: flex;
    padding: 10px;

    p {
      width: 60%;
      padding: 10px;
      font-size: 1rem;
    }

    iframe {
      border-radius: 10px;
    }
  }
}

#section-03 {
  margin-top: 20px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: rgb(92, 99, 101);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.exp {
  background-color: azure;
  padding: 10px;
  display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-around;
  line-height: auto;
  border-radius: 7px;

  p {
    font-weight: bold;
    font-size: 1rem;
  }

  a {
    display: flex;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
  }

  a:hover {
    color: orange;
  }
}

.tskBtn {
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  background-color: rgb(93, 164, 235);
}

.tskBtn:hover {
  background-color: rgb(20, 115, 210);
}

.tasks {
  display: none;
  width: 100%;
  border: 2px solid red;
  margin: 10px;
  padding: 10px;
}

#section-04 {
  margin-top: 20px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: rgb(92, 99, 101);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}


.intro {
  background-color: azure;
  padding: 10px;
  border-radius: 7px;
  margin: 10px auto;
  width: 90%;
  display: flex;

  img {
    width: 20%;
  }

  justify-content: space-around;

  div {
    width: 70%;
    padding: 10px;

    p {
      color: gray;
      font-size: 1rem;
    }
  }
}

.education {
  background-color: azure;
  border-radius: 7px;
  padding: 10px;
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: column;

  p {
    font-weight: bold;
    font-size: 1.2rem;
    background-color: gray;
    line-height: 0;

    border-radius: 5px;
  }
}

.pursue {
  color: red;
}

#section-05 {
  margin-top: 20px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: rgb(92, 99, 101);
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.links {
  width: 40%;
  display: flex;
  align-items: center;
  border-radius: 7px;
  justify-content: center;
  flex-direction: column;
  background-color: azure;

  .me {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  #link {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
  }

  a {
    border: 2px solid white;
    width: 30%;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.2rem;
    width: 90%;
  }

  #l {
    background-color: navy;
    border: 2px solid navy;
    color: white;
    transition: all .3s;

    &:hover {
      background-color: azure;
      border: 2px solid navy;
      color: navy;
    }

  }

  #x {
    background-color: #000;
    color: white;
    border: 1px solid #000;
    transition: all .3s;

    &:hover {
      background-color: white;
      color: #000;
    }
  }
}

#link {
  display: flex;
  flex-direction: column;
}

.contact {
  border-radius: 7px;
  padding: 10px;
  width: 38%;
  background-color: azure;
  display: flex;

  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      padding: 20px;
      margin-bottom: 15px;
      border-radius: 7px;
      border: 1px solid gray;
      font-size: 1.1rem;
    }

    input:focus {
      outline: none;
    }

    textarea {
      margin-bottom: 15px;
      padding: 10px;
      font-size: 1.1rem;

      &:focus {
        outline: none;
      }
    }


    button {
      width: 30%;
      padding: 15px;
      background-color: rgb(16, 169, 240);
      border: 1px solid rgb(16, 169, 240);
      border-radius: 7px;
      color: white;
      font-weight: bold;
      margin-top: 10px;
      cursor: pointer;
      transition: all .3s;
      font-size: 1.1rem;
    }

    button:hover {
      border: 1px solid rgb(16, 169, 240);
      background-color: white;
      color: rgb(16, 169, 240);
    }
  }
}

footer {
  margin-top: 20px !important;
  width: 80%;
  border-radius: 7px;
  margin: auto;
  background-color: navy;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

#name {
  border-bottom: 1px solid white;
}

#rights {
  text-align: center;
  line-height: 0;
  margin-top: 10px;
  font-size: .5rem;
}